footer {
    padding: 2rem 15rem;
    display: flex;
    margin: auto;
    text-align: justify;
    gap: 3rem;
    margin-top: 3rem;
    border-top: 1px solid var(--primary-yellow);
    border-radius: 8px;
    box-shadow: var(--primary-green) 0px 5px 15px;
}

.footer-item {
    padding: 1rem;
}

footer li {
    list-style-type: none
}

footer li:last-child>*:not(:last-child) {
    margin-bottom: 1rem;
}