header {
    display: flex;
    gap: 10rem;
    background-color: transparent;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
}

#hero-description {
    position: relative;
}

#hero-description button {
    position: absolute;
    bottom: -20px;
}

#hero-description>h4 {
    width: 285px;
    margin-top: 1rem;
}

@media screen and (max-width: 720px) {
    header>img {
        display: none;
    }

    #hero-description {
        height: 400px;
    }
}