#testimonials {
    padding: 5rem;
    padding-top: 1rem;
    margin: auto;
    width: fit-content;
}

#testimonials-grid {
    padding: 4rem 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20% 15%;
    grid-template-areas:
        "first second"
        "third fourth";
    justify-items: center;
    align-items: center;
    align-content: stretch;
}

.first,
.second,
.third,
.fourth {
    text-align: justify;
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid var(--primary-green);
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonials-description,
.span-age {
    position: absolute;
    bottom: 5px;
}

.testimonials-description {
    left: 5px;
}

.span-age {
    right: 5px;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

@media screen and (max-width: 720px) {
    #testimonials {
        margin-bottom: 12rem;
        padding: 0;
    }

    #testimonials-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "first"
            "second"
            "third"
            "fourth";
        height: 100%;
        gap: 5%;
        padding: 2rem 0;
    }
}


@media screen and (min-width: 720px) and (max-width: 1200px) {
    #testimonials {
        width: auto;
        padding: 0;
    }

    #testimonials > h2 {
        margin-left: 1rem;
    }

    #testimonials-grid {
        padding: 2rem 0;
        gap: 10%;
    }
}